@model BibliothequeVieuxMontreal.Models.Retard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Retard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdMembre" class="control-label"></label>
                <input asp-for="IdMembre" class="form-control" />
                <span asp-validation-for="IdMembre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLivre" class="control-label"></label>
                <input asp-for="IdLivre" class="form-control" />
                <span asp-validation-for="IdLivre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nbjour" class="control-label"></label>
                <input asp-for="Nbjour" class="form-control" />
                <span asp-validation-for="Nbjour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePret" class="control-label"></label>
                <input asp-for="DatePret" class="form-control" />
                <span asp-validation-for="DatePret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
